:root {
  // Theme Colors
  color-scheme: dark light;
  --footer-text: #d7d7d7;
  @media (prefers-color-scheme: light) {
    --bg: #e3e1e1;
    --primary: #29A19C;
    --primary-low-opacity: #29a19d80;
    --primary-no-opacity: #29a19d00;
    --secondary: #1c6d6b;
    --text: #36524b;
  }
  @media (prefers-color-scheme: dark) {
    --bg: #1f2327;
    --primary: #29A19C;
    --primary-low-opacity: #29a19d80;
    --primary-no-opacity: #29a19d00;
    --secondary: #56f4d2;
    --text: #d7d7d7;
  }

  // Personalized ScrollBar
  ::-webkit-scrollbar {
    width: 5px;
  }
  ::-webkit-scrollbar-track {
    background: transparent;
  }
  ::-webkit-scrollbar-thumb {
    background: var(--secondary);
    border-radius: 30px;
  }
  * {
    transition: background-color 0.2s ease, transform 0.2s ease;
  }
  html {
    height: 100%;
  }
  body {
    margin: 0;
    padding: 0;
    
    width: 100svw;
    height: 100svh;

    overflow-x: hidden !important;

    font-family: Helvetica, Arial, sans-serif;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    
    background-color: var(--bg);
    color: var(--text);
  }
  section {
    display: flex;
    min-height: 80svh;
    justify-content: center;
    align-items: center;
  }
  h2{
    color: var(--primary);
    margin: 0;
    margin-block-end: 0;
    font-weight: bold;
  }
  a {
    font-weight: bold;
    color: var(--text);
    border-bottom: 2px solid transparent;
    transition: 200ms ease;
    text-decoration: none;
    &:hover {
      opacity: 0.5;
    }

    &:focus, span:focus, button:focus {
      outline: none;
      opacity: 0.7;
      box-shadow: none;
    }
  }
}